<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
</head>
<header>
    <h1>Recipe Book</h1>
    {% if request.user.is_authenticated %}
        <h2>Hello, {{ request.user.username }}!</h2>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">LOG OUT</button>
        </form>
    {% else %}
        <h3>Please <a href="{% url 'login' %}">login.</a></h3>
    {% endif %}
</header>
<body>
    <h1>Recipe List</h1>
    <ul>
        {% for recipe in object_list %}
            <li><a href="{% url 'ledger:recipe_detail' pk=recipe.pk %}">{{ recipe.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>